{% load staticfiles%}
{% load cloudinary %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/ini.css' %}">
		<div class="logo">
	  		<img src="{% static 'image/timbre.png' %}" alt="logo"/>
	  	</div>
	</head>
	{% block content %}
	{% endblock %}
</html>